<div class="w-64 h-screen bg-gray-900 rounded-md">

  <div class="px-6 pt-8">
    <div class="flex items-center justify-between">
      <a href="#" class="bg-blue-600 p-1.5 rounded flex items-center justify-center" (click)="toggle()" [ngClass]="{'hide':!hideColor}">
      </a>
      <button class="flex items-center justify-center p-0.5 rounded bg-gray-800">
      </button>
    </div>
  </div>
  <div class="px-6 pt-4">
    <div class="relative">

    </div>

  </div>
  <div class="px-6 pt-4">
    <hr class="border-gray-700"/>
  </div>
  <div class="px-6 pt-4">
    <ul>
      
    </ul>
  </div>


</div>